/*CSS Document*/

body{
    margin: 0;
    background-color: silver;
    font-family: Verdana;
    direction: ltr;
}

.all_site{
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
    min-height: 500px;
    
}